<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ironwall.Thirdparty.VMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ironwall.Thirdparty.VMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ironwall.Thirdparty.VMS.Properties.Settings>
            <setting name="IpAddressVca" serializeAs="String">
                <value>192.168.202.250</value>
            </setting>
            <setting name="PortVca" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="IdUserVca" serializeAs="String">
                <value>sensorway</value>
            </setting>
            <setting name="PasswordVca" serializeAs="String">
                <value>Sensor6500!</value>
            </setting>
            <setting name="GroupVca" serializeAs="String">
                <value>group1</value>
            </setting>
            <setting name="LicenceVca" serializeAs="String">
                <value>licVCA</value>
            </setting>
            <setting name="TimeIntevalKeepAliveVca" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TokenVca" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLoginApplied" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CancelSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApiUsed" serializeAs="String">
                <value>True</value>
            </setting>
        </Ironwall.Thirdparty.VMS.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Ironwall.Thirdparty.VMS.Properties.Settings>
            <setting name="TableVca" serializeAs="String">
                <value>vca</value>
            </setting>
            <setting name="TablePreset" serializeAs="String">
                <value>preset</value>
            </setting>
        </Ironwall.Thirdparty.VMS.Properties.Settings>
    </applicationSettings>
</configuration>